################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BrickWars/v16
/BrickWars/BrickWars/obj
/BrickWars/BrickWars.Android/obj
/BrickWars/BrickWars.iOS/obj
/BrickWars/BrickWars/bin/Debug/netstandard2.0
/BrickWars/BrickWars.Android/bin/Debug
/.vs/BrickWars/DesignTimeBuild
/src/BrickWars.Core/bin/Debug/netstandard2.0
/src/BrickWars.Core/obj
/src/BrickWars.Droid/bin/Debug
/src/BrickWars.Droid/obj
/src/BrickWars.UI/bin/Debug/netstandard2.0
/src/BrickWars.UI/obj
/.vs/BrickWars/v15/Server/sqlite3
*.user
